<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transclusion</title>
  <link href="http:////maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
	<script src="lib/main.js"></script>
</head>
<body ng-app="myApp">
  <div>
    <input type="text" ng-model="name" />
    <select ng-model="movie">
      <option value="Man Of Steel">Superman</option>
      <option value="A New Hope">Star Wars</option>
    </select>
    <input type="number" ng-model="friendCount" />
  </div>
  <div movie-info="movie">
    <p>Hi, I'm {{ name }}, and I'm going to see {{ movie }} with {{ friendCount }} friends.</p> 
  </div>
</body>
</html>
